<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.ibenefit" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>i benefit customer</name>
    <description>
        i benefit customer tab application.
    </description>
    <author email="ignatius@dmello.com" href="http://cordova.io">
        Iggie
    </author>
    <icon src="res/icons/android/ibenefit.png" width="57" height="57"/>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
</widget>
