<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.ibenefit" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Resto Orders</name>
    <description>
        Resto Orders
    </description>
    <author email="ignatius@dmello.com" href="http://cordova.io">
        Iggie
    </author>
    <icon src="icons/android/icon-96-xhdpi.png" width="96" height="96"/>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
</widget>
