<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>"i benefit"</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="src/styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="RestaurantApp" animation="slide-left-right-ios7">

    <ion-nav-bar class="bar-header bar-positive">    </ion-nav-bar>

    <ion-nav-view> <i>Loading...</i> </ion-nav-view>

    <ion-footer-bar align-title="left" class="bar-balanced">
        <h1 class="title">Footer</h1>
    </ion-footer-bar>

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/ionic/release/js/ionic.js"></script>
    <script src="vendor/ionic/release/js/ionic-angular.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="src/scripts/app.js"></script>
    <script src="src/scripts/services.js"></script>
    <script src="src/scripts/controllers.js"></script>
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>



    <script id="firstpage.html" type="text/ng-template">
        <ion-view title="You are being served by {{staffId}} on {{tableNumber}}">
            <ion-content>

                <div class="row">
                    <div class="col col-67">
                        <div class="row">
                            <div class="col-75">
                                <p style="text-align:center;font-size:36px">Welcome to {{programName}}</p>
                                <img src="images/ibenefit.png"><img>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-75">
                                <button class="button button-full button-positive">
                                    Login
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-75">
                                <button class="button button-full button-positive">
                                    Register to i benefit
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-75">
                                <button class="button button-full button-positive" ng-click="showTestMenu()">
                                    Skip to Menu
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col col-33">
                         <ibenefit-savings/>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </script>


    <script id="menus.html" type="text/ng-template">
        <ion-view title="Restaurant menu">
            <ion-content>
<!-- <div ng-repeat="menu in menus">{{menu.itemName}}</div>   -->

                <div class="button" ng-repeat="(catCode, menu) in menuCat" style="float:left;display:inline;margin:5px">
                    <img src="images/{{catCode}}.png" style="margin-top:10px" height="110px" width="110px"></img>
                    <p style="text-align:center;margin:0;line-height:24px">{{catCode | lowercase}}</p>
                </div>
            </ion-content>
        </ion-view>
    </script>


    <script id="ibenefit-savings.html" type="text/ng-template">
        <div>
            <div class="row">
                <div class="col col-80 item item-royal">
                    Average spends at restaurants
                </div>
                <div class="col col-20 item item-royal">
                    <input type="number" style="text-align:right" ng-model="avgSpendsAtRestaurants" min="100" max="50000" step="100">
                </div>
            </div>
            <div class="row">
                <div class="col col-80 item item-royal">
                    Restaurants visits per month
                </div>
                <div class="col col-20 item item-royal">
                    <input type="number" style="text-align:right" ng-model="noOfVisits" min="0" max="30">
                </div>
            </div>
            <div class="row">
                <div class="col col-80 item item-calm">
                    Average spends on home order
                </div>
                <div class="col col-20 item item-calm">
                    <input type="number" style="text-align:right" ng-model="avgSpendsOnHomeOrder"  min="100" max="50000" step="100">
                </div>
            </div>
            <div class="row">
                <div class="col col-80 item item-calm">
                    Home orders per month
                </div>
                <div class="col col-20 item item-calm">
                    <input type="number" style="text-align:right" ng-model="noOfHomeOrders" min="0" max="30">
                </div>
            </div>
            <div class="row">
                <div class="col col-80 item item-energized">
                    Approximate savings in a year
                </div>
                <div class="col col-20 item item-energized">
                     <input type="number" style="text-align:right" readonly value="{{totalSavings()}}">
                </div>
            </div>
        </div>
    </script>

  </body>
</html>
