<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>ibenefit</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="src/styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="RestaurantApp" animation="slide-left-right-ios7" ng-controller="MainCtrl">


    <ion-nav-bar class="bar-header bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c">Back</i>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="notifyGoHome()">
               Done
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>




    <ion-nav-view> <i>Loading...</i> </ion-nav-view>


    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/ionic/release/js/ionic.js"></script>
    <script src="vendor/ionic/release/js/ionic-angular.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="src/scripts/app.js"></script>
    <script src="src/scripts/services.js"></script>
    <script src="src/scripts/controllers.js"></script>
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>



    <script id="firstpage.html" type="text/ng-template">

        <ion-view title="You are being served by {{staffId}} on {{tableNumber}}">


            <ion-content>

                <div class="row">
                    <div class="col col-67">
                        <div class="row">
                            <div class="col-75">
                                <h2 style="text-align:center">Welcome to {{programName}}</h2>
                                <img src="images/ibenefit.png" height="144px" width="144px" style="display:block;margin-left:auto;margin-right:auto" ><img>
                            </div>
                        </div>
                        <div class="row" style="height:70px">
                            <div class="col col-75">
                                <button class="button button-full button-positive" ng-click="openLoginModal()">
                                    Login
                                </button>
                            </div>
                        </div>
                        <div class="row" style="height:70px">
                            <div class="col col-75">
                                <button class="button button-full button-positive" ng-click="openRegisterModal()">
                                    Register to {{programName}}
                                </button>
                            </div>
                        </div>
                        <div class="row" style="height:70px">
                            <div class="col col-75">
                                <button class="button button-full button-positive" ng-click="showMenu()">
                                    Skip to Menu
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col col-33">
                         <ibenefit-savings/>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </script>



    <script id="menus.html" type="text/ng-template">

        <ion-view title="You are being served by {{staffId}} on {{tableNumber}}">

            <ion-header-bar class="bar bar-subheader item-input-inset">
                <label class="item-input-inset">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" ng-model="searchInput">
                </label>
                <button class="button button-clear" ng-click="searchItems()">
                    Search
                </button>
                <h1 class="title"></h1>
                <div class="buttons">
                    <button class="button" ng-show="orderSvc.totalLineItems()" ng-click="viewOrder()">View order</button>
                </div>
            </ion-header-bar>

            <ion-content>
                <div class="button" ng-repeat="menuArray in menuCat | objectToArray | filter:searchInput" style="float:left;display:inline;margin:5px" ng-click="selectMenuCategory(menuArray[0].catCode1)">
                    <img src="images/{{menuArray[0].catCode1}}.png" style="margin-top:10px" height="110px" width="110px"></img>
                    <p style="text-align:center;margin:0;line-height:20px">{{menuArray[0].catCode1 | lowercase}}</p>
                </div>
            </ion-content>
        </ion-view>
    </script>



    <script id="menu-itemlist.html" type="text/ng-template">

        <ion-view title="">

            <ion-header-bar class="bar bar-subheader item-input-inset">
                <label class="item-input-inset">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" ng-model="searchInput">
                </label>

                <h1 class="title">{{selectedCatCode | lowercase}}</h1>
                <div class="buttons">
                    <button class="button" ng-show="orderSvc.totalLineItems()" ng-click="viewOrder()">View order</button>
                </div>
            </ion-header-bar>

            <ion-content>
                <div class="col">
                    <ion-list>
                        <ion-item class="row item-calm">
                            <h2 class="col col-50">Item</h2>
                            <h2 class="col col-10" style="text-align:center">Price</h2>
                            <h2 class="col col-10" style="text-align:center">{{programName}}<br/>Price</h2>
                            <h2 class="col col-10" style="text-align:center">Ordered Qty</h2>
                            <h2 class="col col-10" style="text-align:center">Add item</h2>
                            <h2 class="col col-10" style="text-align:center">Reduce item</h2>
                        </ion-item>
                        <div ng-repeat="menuArray in menuItems">
                            <ion-item class="item item-divider">
                                {{menuArray[0].catCode1}}
                            </ion-item>
                            <div ng-repeat="menuItem in menuArray | filter:searchInput">
                                <ion-item class="row" ng-repeat="menuItemPriceCat in menuItem.priceCat">
                                    <a class="col col-50 item-content">
                                        <h2>{{menuItem.itemName}}</h2>
                                        <p>{{menuItem.itemDescription}}</p>
                                    </a>
                                    <div class="col col-10">
                                        <br/><h3 style="text-align:center">{{menuItemPriceCat.basicRate | number}}</h3>
                                    </div>
                                    <div class="col col-10">
                                        <br/><h3 style="text-align:center">{{menuItemPriceCat.basicRate - menuItemPriceCat.discount | number}}</h3>
                                    </div>
                                    <div class="col col-10">
                                        <br/><h3 style="text-align:center">{{ orderSvc.itemInOrder( menuItem.itemId, menuItemPriceCat.catCode ).quantity }}</h3>
                                    </div>
                                    <div class="col col-10" style="text-align:center">
                                        <a class="button button-balanced" style="font-size:24px" ng-click="orderSvc.addItem(menuItem, menuItemPriceCat)">+</a>
                                    </div>
                                    <div class="col col-10" style="text-align:center">
                                        <a class="button button-assertive" style="font-size:24px" ng-click="orderSvc.reduceItem(menuItem, menuItemPriceCat)">-</a>
                                    </div>
                                </ion-item>
                            </div>
                        </div>
                    </ion-list>
                </div>

            </ion-content>
        </ion-view>
    </script>


    <script id="view-order.html" type="text/ng-template">
        <ion-view title="Your order">

            <ion-header-bar class="bar bar-subheader item-input-inset">
                <ion-nav-back-button class="button-clear">
                    <i class="ion-arrow-left-c">Back</i>
                </ion-nav-back-button>
                <h1 class="title">You save {{orderSvc.getBasicTotal()-orderSvc.getDiscountedTotal()}}</h1>

            </ion-header-bar>

            <ion-content>

                <order-details/>

            </ion-content>

        </ion-view>
    </script>


    <script id="chefcorner.html" type="text/ng-template">
        <ion-view title="Chef's corner">
            <ion-content>


            </ion-content>
        </ion-view>
    </script>

    <script id="softdrinks.html" type="text/ng-template">
        <ion-view title="Soft drinks">
            <ion-content>
            </ion-content>
        </ion-view>
    </script>

    <script id="barcounter.html" type="text/ng-template">
        <ion-view title="Bar Counter">
            <ion-content>
            </ion-content>
        </ion-view>
    </script>

    <script id="specialoffer.html" type="text/ng-template">
        <ion-view title="Special Offers">
            <ion-content>
            </ion-content>
        </ion-view>
    </script>

    <script id="myfavourites.html" type="text/ng-template">
        <ion-view title="My Favourites">
            <ion-content>
            </ion-content>
        </ion-view>
    </script>






    <script id="ibenefit-savings.html" type="text/ng-template">
        <ion-list>


            <div class="row">
                <h3 class="col" style="text-align:center">{{totalSavings()}}</h3>
            </div>

            <div class="row item" ng-click="touchedASR()" ng-class="{'royal': lastTouched=='ASR'}">
                <div class="col col-80" style="padding-top:10px">
                    Average spends at restaurants
                </div>
                <div class="col col-20">
                    <input type="number" style="text-align:right" readonly value="{{avgSpendsAtRestaurants}}">
                </div>
            </div>
            <div class="row item" ng-click="touchedNVR()" ng-class="{'royal': lastTouched=='NVR'}">
                <div class="col col-80" style="padding-top:10px">
                    Restaurants visits per month
                </div>
                <div class="col col-20">
                    <input type="number" style="text-align:right" readonly value="{{noOfVisits}}">
                </div>
            </div>
            <div class="row item" ng-click="touchedASH()" ng-class="{'royal': lastTouched=='ASH'}">
                <div class="col col-80" style="padding-top:10px">
                    Average spends on home order
                </div>
                <div class="col col-20">
                    <input type="number" style="text-align:right" readonly value="{{avgSpendsOnHomeOrder}}">
                </div>
            </div>
            <div class="row item" ng-click="touchedNVH()" ng-class="{'royal': lastTouched=='NVH'}">
                <div class="col col-80" style="padding-top:10px">
                    Home orders per month
                </div>
                <div class="col col-20">
                    <input type="number" style="text-align:right" readonly value="{{noOfHomeOrders}}">
                </div>
            </div>
<!--            <div class="row">
                <div class="col col-80 item item-energized" style="padding-top:10px">
                    Approximate savings in a year
                </div>
                <div class="col col-20 item item-energized">
                     <input type="number" style="text-align:right" readonly value="{{totalSavings()}}">
                </div>
            </div>-->
            <div class="row">
                <div id="keypad" style="padding:10px" ng-hide="lastTouched==''">
                    <div id="row1">
                        <button class="button button-large" ng-click="calcTouched('1')">1</button>
                        <button class="button button-large" ng-click="calcTouched('2')">2</button>
                        <button class="button button-large" ng-click="calcTouched('3')">3</button>
                    </div>
                    <div id="row2">
                        <button class="button button-large" ng-click="calcTouched('4')">4</button>
                        <button class="button button-large" ng-click="calcTouched('5')">5</button>
                        <button class="button button-large" ng-click="calcTouched('6')">6</button>
                    </div>
                    <div id="row3">
                        <button class="button button-large" ng-click="calcTouched('7')">7</button>
                        <button class="button button-large" ng-click="calcTouched('8')">8</button>
                        <button class="button button-large" ng-click="calcTouched('9')">9</button>
                    </div>
                    <div id="row4">
                        <button class="button button-large" ng-click="calcTouched('.')">.</button>
                        <button class="button button-large" ng-click="calcTouched('0')">0</button>
                        <button class="button button-large" ng-click="calcTouched('X')">X</button>
                    </div>
                </div>
            </div>
        </ion-list>
    </script>



    <script id="login-modal.html" type="text/ng-template">
        <div class="modal" style="height:100px">
            <ion-header-bar>
                <h1 class="title">Login to {{programName}}</h1>
            </ion-header-bar>
            <ion-content>
                <form class="list list-inset">
                    <label class="item item-input">
                        <span class="input-label">Mobile Number</span>
                        <input type="number" ng-model="custInput.mobileNo" placeholder="Type your mobile number" required>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="custInput.Pin" placeholder="Type your password" required>
                    </label>

                    <button class="button button-positive button-block" ng-click="closeLoginModal()">Login</button>
                </form>
            </ion-content>
        </div>
    </script>



    <script id="register-modal.html" type="text/ng-template">
        <div class="modal" style="top:10%;bottom:10%">
            <ion-header-bar>
                <h1 class="title">Register to {{programName}}</h1>
            </ion-header-bar>
            <ion-content>
                <form class="list list-inset">
                    <label class="item item-input">
                        <span class="input-label">First name</span>
                        <input type="text" ng-model="customerInput.firstName" placeholder="Type your first name" required>
                        <span class="input-label">Surname</span>
                        <input type="text" ng-model="customerInput.surName" placeholder="Type your surname">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="customerInput.email" placeholder="Type your email" required>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Mobile</span>
                        <input type="tel" ng-model="customerInput.mobile" placeholder="Type your mobile number" required>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">PIN code</span>
                        <input type="tel" ng-model="customerInput.pinCode" placeholder="Type your PIN code" required>
                    </label>
                    <label class="item item-input">
                        <label class="item item-radio">
                            <input type="radio" name="group" ng-model="customerInput.gender" value="F">
                            <div class="item-content">
                                Female
                            </div>
                            <i class="radio-icon ion-checkmark-circled"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group" ng-model="customerInput.gender" value="M">
                            <div class="item-content">
                                Male
                            </div>
                            <i class="radio-icon ion-checkmark-circled"></i>
                        </label>
                    </label>

                    <button class="button button-positive button-block" ng-click="closeRegisterModal()">Register</button>
                </form>

            </ion-content>
        </div>
    </script>


    <script id="order-details.html" type="text/ng-template">

        <div>
            <ion-list>
                <ion-item class="row item-balanced">
                    <h2 class="col col-33">Item</h2>
                    <h2 class="col col-10" style="text-align:center">Price</h2>
                    <h2 class="col col-10" style="text-align:center">{{programName}}<br/>Price</h2>
                    <h2 class="col col-10" style="text-align:center">Quantity</h2>
                    <h2 class="col col-20" style="text-align:center">Instructions</h2>
                    <h2 class="col col-10" style="text-align:center">Add/Reduce</h2>
                </ion-item>

                <ion-item class="row" ng-repeat="item in orderSvc.getOrder() track by $index">
                    <a class="col col-33 item-content">
                        <h2>{{item.itemName}}</h2>
                        <p>{{item.itemDescription}}</p>
                    </a>
                    <div class="col col-10">
                        <br/><h3 style="text-align:center">{{item.basicRate | number}}</h3>
                    </div>
                    <div class="col col-10">
                        <br/><h3 style="text-align:center">{{item.basicRate - item.discount | number}}</h3>
                    </div>
                    <div class="col col-10">
                        <br/><h3 style="text-align:center">{{item.quantity | number}}</h3>
                    </div>
                    <div class="col col-20">
                        <input type="text" ng-model="item.instructions" style="text-align:center">
                    </div>
                    <div class="col col-10" style="text-align:center">
                        <a class="button button-small button-balanced"  style="font-size:24px" ng-click="addItem($index)">+</a>
                        <a class="button button-small button-assertive" style="font-size:24px" ng-click="reduceItem($index)">-</a>
                    </div>
                </ion-item>

                <ion-item class="row">
                    <a class="col col-33 item-content">
                        <h1>Total</h1>
                    </a>
                    <div class="col col-10">
                        <h1 style="text-align:center">{{orderSvc.getBasicTotal()}}</h1>
                    </div>
                    <div class="col col-10">
                        <h1 style="text-align:center">{{orderSvc.getDiscountedTotal()}}</h1>
                    </div>
                    <div class="col col-10">
                        <h1></h1>
                    </div>
                    <div class="col col-20">
                        <h1></h1>
                    </div>
                    <div class="col col-10" style="text-align:center">
                        <button class="button" ng-show="orderSvc.totalLineItems()" ng-click="confirmOrder()">Confirm order</button>
                    </div>
                </ion-item>

            </ion-list>
        </div>

    </script>








  </body>
</html>
