/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.chefcorner {
    background-repeat: no-repeat;
    background-position:center;
    background-size: 96px 96px;
    background-image: url("../images/chefcorner.png");
}

.foodmenu {
    background-repeat: no-repeat;
    background-position:center;
    background-size: 96px 96px;
    background-image: url("../images/foodmenu.png");
}

.softdrinks {
    background-repeat: no-repeat;
    background-position:center;
    background-size: 96px 96px;
    background-image: url("../images/softdrinks.png");
}

.barcounter {
    background-repeat: no-repeat;
    background-position:center;
    background-size: 96px 96px;
    background-image: url("../images/barcounter.png");
}

.specialoffer {
    background-repeat: no-repeat;
    background-position:center;
    background-size: 96px 96px;
    background-image: url("../images/specialoffer.png");
}

.favourites {
    background-repeat: no-repeat;
    background-position:center;
    background-size: 96px 96px;
    background-image: url("../images/myfavourites.png");
}

.tabs {
    height: 100px;
}

.has-tabs {
    bottom: 100px;
}

.tab-item .icon {
    height: 84px;
}

